@import '../style/Config';
.btm {
  .customWhite {
    width: 200px;
    padding:.5rem 0;
    background-color: $milky-color;
    color: $black-color;
    font-size: 0.9rem;
    font-weight: 600;
    border: 3px solid $milky-color;
    cursor: pointer;
    border-radius: 4px;
    transition: $transition;
    &:hover {
      border: 3px solid #eee;
      background-color: #eee;
    }
  }
}
.btm {
  .customBlack {
    width: 200px;
    padding:.5rem 0;
    background-color: #222;
    color: #eee;
    font-size: 0.9rem;
    font-weight: 600;
    border: 3px solid #222;
    cursor: pointer;
    border-radius: 4px;
    transition: $transition;
    &:hover {
      opacity: .9;
      box-shadow: $main-box-shadow;
    }
  }
}
