.wrap{
  background-image: url("../images/model-s.jpg");
}
.wrap1{
  background-image: url("../images/model-3.jpg");
}
.wrap2{
  background-image: url("../images/model-x.jpg");
}
.wrap3{
  background-image: url("../images/model-y.jpg");
}
.wrap4{
  background-image: url("../images/solar-panel.jpg");
}
.wrap5{
  background-image: url("../images/solar-roof.jpg");
}
.wrap6{
  background-image: url("../images/accessories.jpg");
}