// @import img1 from '../../images/Autopilot'

.autoPilot {
  background-position: center;
  background-image: url("../../images/Autopilot.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
  .pilot-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    .pilot-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .pilot-para {
      font-size: 1rem;
      width: 20vw;
    }
  }
}

@media (max-width: 768px) {
  .autoPilot {
    display: flex;
    align-items: center;
    justify-content: center;
    .pilot-content {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .pilot-title {
        font-size: 1.2rem;
      }
      .pilot-para {
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }
}

@media (max-width: 538px) {
  .autoPilot {
    display: flex;
    align-items: center;
    justify-content: center;
    .pilot-content {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .pilot-title {
        font-size: 1rem;
      }
      .pilot-para {
        font-size: 0.5rem;
        width: 100%;
      }
    }
  }
}
