.future {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  background-color: black;
  box-shadow: black 0px 30px 49px 79px;
  padding: 5rem 0;
  z-index: 10;
  position: relative;
}
